<div class="ui-g">
  <div class="preHeader">
  <div class="top-left">TRAVEL 
  <span class="hideShowArrow" [ngClass]="{'rotate2': isOpen}" 
  (click)="clickOnArrow()"><i class="fa fa-chevron-circle-right"></i></span></div>
  <div class="top-right">
      <div class="userProfile">
          <div class="chip">
                  <img src="../../../assets/image/img_avatar.png" alt="Person" width="96" height="96">
                  <span style="word-break: break-all;">Welcome User</span>
                </div>
  </div>
  </div>
  </div> 
</div>
