<div class="row">
    <div class="row">
        Terminal
    </div>
<p-terminal welcomeMessage="Welcome to PrimeNG" prompt="primeng $"></p-terminal>
</div>
<div class="row">
        <div class="row">
                Editor
            </div> 
    <p-editor #ed [style]="{'height':'320px'}" (onInit)="editorcall($event)"></p-editor>
</div>
<h3>Content with Filters</h3>
<p-dropdown [options]="cars" [(ngModel)]="selectedCar2" [style]="{'width':'300px'}" filter="true">
    <ng-template let-car pTemplate="item">
        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
            <div style="width:100px;position:absolute;top:1px;left:5px">{{car.label}}</div>
            <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
        </div>
    </ng-template>
</p-dropdown>
<div class="row">
    <div class="ui-g" style="width:250px;margin-bottom:10px">
        <div class="ui-g-12"><p-checkbox name="group1" value="New York" label="New York" [(ngModel)]="selectedCities" (onChange)="checkChange($event)" inputId="ny"></p-checkbox></div>
        <div class="ui-g-12"><p-checkbox name="group1" value="San Francisco" label="San Francisco" [(ngModel)]="selectedCities" (onChange)="checkChange($event)"  inputId="sf"></p-checkbox></div>
        <div class="ui-g-12"><p-checkbox name="group1" value="Los Angeles" label="Los Angeles" [(ngModel)]="selectedCities" (onChange)="checkChange($event)"  inputId="la"></p-checkbox></div>
    </div>
</div>

