<div class="row">
    <div class="row">
        <read-more [text]="'This is custom read more component for show and hide extra details.'"
        [textLength]="20">Terminal</read-more>
    </div>
<p-terminal welcomeMessage="Welcome to PrimeNG" prompt="primeng $"></p-terminal>
</div>
<div class="row">
        <div class="row">
                Editor
            </div> 
    <p-editor #ed [style]="{'height':'320px'}" (onInit)="editorcall($event)"></p-editor>
</div>
<h3>Content with Filters</h3>
<p-dropdown [options]="cars" [(ngModel)]="selectedCar2" placeholder="None" [style]="{'width':'300px'}" >
</p-dropdown>
<div class="row">
    <div class="ui-g" style="width:250px;margin-bottom:10px">
        <div class="ui-g-12"><p-checkbox name="group1" value="New York" label="New York" [(ngModel)]="selectedCities" (onChange)="checkChange($event)" inputId="ny"></p-checkbox></div>
        <div class="ui-g-12"><p-checkbox name="group1" value="San Francisco" label="San Francisco" [(ngModel)]="selectedCities" (onChange)="checkChange($event)"  inputId="sf"></p-checkbox></div>
        <div class="ui-g-12"><p-checkbox name="group1" value="Los Angeles" label="Los Angeles" [(ngModel)]="selectedCities" (onChange)="checkChange($event)"  inputId="la"></p-checkbox></div>
    </div>
</div>
<div class="ui-g-12 ui-md-4">
    <h3>Disable Days</h3>
    <p-calendar [(ngModel)]="value" tabindex="0" [maxDate]="maxDateValue" [minDate]="minDateValue" readonlyInput="true" (onMonthChange)="onMonthChange($event)"></p-calendar> {{date|date}}
</div>
<p-calendar [(ngModel)]="date10">
    <ng-template pTemplate="value" let-date>
        <span [ngStyle]="{opacity: (date.day < 21 && date.day > 10) ? '.2' : 'inherit'}" style="border-radius:50%">{{date.day}}</span>
    </ng-template>
</p-calendar>

