<div class="p-grid">
  <div class="p-col-9">
    <p-chart type="bar" [data]="data" [options]="option1"></p-chart>
  </div>
  <div class="p-col-3">
      
      <p-inputSwitch (onChange)="handleChange($event)"></p-inputSwitch>
  </div>
</div>
<p-tabView>
<p-tabPanel header="Header Text" [closable]="true">
  Content 1
</p-tabPanel>
</p-tabView>
<p-tabView [activeIndex]="index">
  <p-tabPanel [closable]="true" [header]="item.header" *ngFor="let item of items;">
      {{item.content}}
  </p-tabPanel>
</p-tabView>
<p-accordion>
  <p-accordionTab header="Header 1">
     Content 1
  </p-accordionTab>
  <p-accordionTab header="Header 2">
      Content 2
  </p-accordionTab>
  <p-accordionTab header="Header 3">
      Content 3    
  </p-accordionTab>
</p-accordion>
