<div class="row" style="height:1px;">
        <div class="load-bar" *ngIf="loading">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
    </div>
<div class="row">
<div class="col-md-9">
    <i class="fa fa-search"></i>
        <input type=text [(ngModel)] = "suiteKey" placeholder="Enter Suite Id to Search..." class="customInput" (keyup.enter)="searchSuite(suiteKey)">  
        <button (click)="searchSuite(suiteKey)" 
        class="searchButton">Search</button>
        <div class="col-md-9">
            <span class="muted">Example: default_runX_demo_2018.3_xco_mirkis</span>
        </div>  
</div>    
</div>
<div *ngIf="data._id" style="color:#777; letter-spacing: 1px;">
<div class="row">   
    <div class="ribbon">
          Suite Detail      
    </div>
</div>
<div class="col-md-4">
        <p-card title="Basic Info">
                        <div>Site : {{data._source.SITE}}</div>
                        <div>User : {{data._source.USER}}</div>
                        <div>Suite Name : {{data._source.SUITE_NAME}}</div>
                        <div>Suite Run Name : {{data._source.SUITE_RUN_NAME}}</div>
                        <div>LSF Project Name : {{data._source.LSF_PROJECT_NAME}}</div>
      </p-card>    
</div>
<div class="col-md-4" *ngIf="data._source.TEST_STATUS_SUMMARY">
        <p-card title="Test Info">
                <div style="margin-bottom:15px;">Status Summary - <span style="font-weight: bold;">Total {{data._source.TEST_STATUS_SUMMARY.LNX64.TOTAL}}</span></div>
                <span class="testSummary" style="background-color: lightseagreen;">
                    Pass:{{data._source.TEST_STATUS_SUMMARY.LNX64.PASS}}</span>
                <span class="testSummary" style="background-color: orangered;">
                    Fail:{{data._source.TEST_STATUS_SUMMARY.LNX64.FAIL}}</span>
                <span class="testSummary" style="background-color: #9189fd;">
                            Time:{{data._source.TEST_STATUS_SUMMARY.LNX64.TIME}}</span>
                 <span class="testSummary" style="background-color: #6c757d;">
                            Intr:{{data._source.TEST_STATUS_SUMMARY.LNX64.INTR}}</span>
</p-card>
</div>
<div class="col-md-4">
        <p-card title="Products">
         <div *ngFor="let product of data._source.PRODUCTS" class="customProduct"> {{product}}</div>
         </p-card>
    </div> 
<div>
        <div class="col-md-8" style="padding:10px;">
        <p-card title="More Info">
            <table class="table table-striped" style="word-wrap:break-word;">
                <tr><td>Suite Key</td><td>{{data._source.SUITE_KEY}}</td></tr>
                <tr><td>Report Path</td><td>{{data._source.REPORT_PATH}}</td></tr>
                <tr><td>RDI Command Line</td><td>{{data._source.RDI_COMMAND_LINE}}</td></tr>
                <tr><td>RDI Data</td><td>{{data._source.RDI_DATA}}</td></tr>
                <tr><td>RDI Branch</td><td>{{data._source.RDI_BRANCH}}</td></tr>
                <tr><td>REL Branch</td><td>{{data._source.REL_BRANCH}}</td></tr>
                <tr><td>Results Path</td><td><span *ngIf="data._source.RESULTS_PATH">{{data._source.RESULTS_PATH}}</span></td></tr>
                <tr><td>Suite Results Reports</td><td><span *ngIf="data._source.SUITE_RESULTS_REPORTS">{{data._source.SUITE_RESULTS_REPORTS.LNX64}}</span></td></tr>
                </table>
            </p-card>
        </div>  
        <div class="col-md-4" style="padding:10px;">
                <p-card title="Time Line">
                                <div *ngIf="data._source.SUITE_END_TIME">Suite Start Time: {{data._source.SUITE_END_TIME}}</div>
                                <div *ngIf="data._source.SUITE_START_TIME">Suite End Time: {{data._source.SUITE_START_TIME}}</div>
                                <div style="font-weight: bold; border-top:1px solid #eee; margin-top: 10px;">Time : LNX64</div>
                                <div *ngIf="data._source.TIME">   
                                <div>SUITE_RUN_TIME : {{data._source.TIME.LNX64.SUITE_RUN_TIME}}</div>
                                    <div>CUMULATIVE_CPU_TIME : {{data._source.TIME.LNX64.CUMULATIVE_CPU_TIME | number}}</div>
                                    <div>CUMULATIVE_WALL_TIME : {{data._source.TIME.LNX64.CUMULATIVE_WALL_TIME}}</div>
                                </div>
        
                            </p-card>                  
        </div>      
    <div class="col-md-12" style="padding:10px;">
            <p-card title="Scripts">
                        <div class="row"> <div class="col-md-3">Pre Suite Execution Script</div>
                            <div class="col-md-9">{{data._source.PRE_SUITE_EXEC_SCRIPT}}</div>
                        </div>
                        <div class="row"><div class="col-md-3">Post Suite Execution Script</div>
                        <div class="col-md-9">
                            {{data._source.POST_SUITE_EXEC_SCRIPT}}</div>
                    </div>
                        <div class="row"><div class="col-md-3">Test Pre Execution Script</div>
                        <div class="col-md-9">{{data._source.TEST_PRE_EXEC_SCRIPT}}</div>
                    </div>
                        <div class="row"><div class="col-md-3">Test post Execution Script</div>
                        <div class="col-md-9">{{data._source.TEST_POST_EXEC_SCRIPT}}</div>
                    </div>
                </p-card>   
        </div>
 </div>
 </div>