
<div class="row" style="height:1px;">
    <div class="load-bar" *ngIf="loading">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
</div>
<div *ngIf="data" class="row" style="width:90%; margin: auto;">
  <div class="col-md-12">
    <p-table [value]="data.hits.hits" (click)="clickedOntable($event)">
      <ng-template pTemplate="header">
          <tr>
              <th style="width:50px;">S.No.</th>
              <th>Suite Name</th>
              <th>Suite Start Time</th>
              <th>Suite End Time</th>
              <th>Results Path</th>
              <th>Report Path</th>
              <th>REL Branch</th>
              <th>RDI Branch</th>
              <th>RDI Data</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-i="rowIndex" let-suite>
          <tr>
              <td>{{i}}</td>
              <td>{{suite._source.SUITE_NAME}}</td>
              <td>{{suite._source.SUITE_START_TIME}}</td>
              <td>{{suite._source.SUITE_END_TIME}}</td>
              <td style="word-wrap:break-word;">{{suite._source.RESULTS_PATH}}</td>
              <td style="word-wrap:break-word;">{{suite._source.REPORT_PATH}}</td>
              <td>{{suite._source.REL_BRANCH}}</td>
              <td>{{suite._source.RDI_BRANCH}}</td>
              <td style="word-wrap:break-word;">{{suite._source.RDI_DATA}}</td>
          </tr>
      </ng-template>
  </p-table>  
  </div>
</div>