<div class="bg">
        <div class="textOnPage">
        <div class="">
         <div class="myform">
         <div class="login">Welcome to YODA</div>
        <form>
          <div class="form-group">
            <label for="email">Username</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group" style="margin-bottom:50px;">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" id="pwd">
          </div>
          <button class="btn btn-primary btn-block" (click)="login()">Login</button>
          <div class="form-group contact">
            Any Support Contact Yoda
          </div>
        </form>
         </div>
        </div>
        </div>
        </div>



<!-- <div class="row">
<div class="masthead text-center" style="height:300px;">
        <div class="col-xl-9 mx-auto">
          <h1 style="color:white;">Welcome To YODA </h1>
        </div>
</div>
</div> 
<div class="row" style="margin-top:20px;">
    <div class="col-md-3">
            <div class="card" style="background-color: #9189fd; color: #fff;">
                    <div class="card-container">
                      <h4><b>All Suite</b></h4>
                     </div>
                     <div class="cardLink">
                     <a routerLink="/allSuites">Click&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>         
                    </div>
    </div>
    </div>
    <div class="col-md-3">
            <div class="card" style="background-color: #ffbf79; color: #fff;">
                    <div class="card-container">
                      <h4><b>All Test</b></h4>
                    </div>
            <div class="cardLink">
                    <a routerLink="/allTests">Click&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>         
             </div> 
    </div>
    </div>
    <div class="col-md-3">
            <div class="card" style="background-color: #8dc8ff;color: #fff;">
                    <div class="card-container">
                      <h4><b>Search Suite</b></h4> 
                    </div>
                    <div class="cardLink">
                            <a routerLink="/searchSuite">Click&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>         
                       </div> 
    </div>
    </div>
    <div class="col-md-3">
            <div class="card" style="background-color: #f790c8;color: #fff;">
                    <div class="card-container">
                      <h4><b>Search Test</b></h4> 
                    </div>
                    <div class="cardLink">
                            <a routerLink="/searchTest">Click&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a>         
                       </div>
    </div>
    </div>
    
</div> -->
